body{
    background-color: whitesmoke;
}


.telaMaiorLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-image: url('../../imagemlogin.jpg'); 
    background-size: cover;
    background-position: center;
}
.telaMaiorLogin h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


.campoLoginESenha{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 12vh;
}

.digitarloginesenha input {
    padding: 10px;
    width: 20vw;
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
}

.digitarloginesenha input:focus {
    outline: none;
    border: none;
}

.campoSenha input{
    margin-right: 5px;
}


.campoBotaoEntrar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.campoBotaoEntrar button {
    padding: 10px;
    width: 110px;
    border-radius: 15px;
    border: none;
    width: 15vw;
    background-color: #4095D1;
    transition: background-color 0.4s ease;
}

.campoBotaoEntrar button:hover {
    background-color: #E89E09;
} 


.campoBotaoRegistrar button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    background-color: #E89E09;
    border: none;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
}

