.telaMaior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: 1px solid black;
    border-radius: 5px;
}

.campoEmail {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.campoSenha {
    display: flex;
    justify-content: center;
}

.campoSenha input{
    margin-right: 5px;
}


.campoBotaoEntrar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.campoBotaoEntrar button {
    padding: 10px;
    width: 110px;
}


.campoBotaoRegistrar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}