.mainNavbar {
    display: flex;
    width: 100%;
    height: 10%;
    /* border: 1px solid black; */
    justify-content: space-between;
    background-color: #4095D1;
    border-radius: 2px;
}

.mainNavbar ul {
    /* border: 1px solid black; */
    margin-right: 100px;
}

.mainNavbar li {
    list-style: none;
    /* border: 1px solid black; */
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.optionsMenu {
    text-decoration: none;
    color: #F0F8FF;
}


.optionsMenu:hover {
    color: #E89E09;
    transition: 0.4s;
}


.emailDoMomento {
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}