.allScrenMessage {
    height: 90vh;
    display: flex;
    flex-direction:row;
}

.campoLateral {
    width: 25vw;
    background-color: whitesmoke;
    border-radius: 15px;
}

.conversaUnica {
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    height: 10%;
    width: 90%; 
}


.telaDeConversas {
    width: 75vw;
    display: flex;
    flex-direction: column;
}

.telaComMensagens {
    background-color: whitesmoke;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: initial;
}

.mensagemEnviada {          
    word-wrap: break-word;
    width: 40%;
    background-color: grey;
    max-width: max-content;
    min-width: 3%;
    margin-left: auto;
    border-radius: 10px;

}

.mensagemRecebida {
    word-wrap: break-word;
    background-color: #4095D1;
    width: 40%;
    max-width: max-content;
    border-radius: 10px;
}

.mensagemQueRecebiNova {
    background-color: #4095D1;
    overflow: hidden;
}

.mensagemQueEnvieiNova { 
    background-color: grey;
    overflow: hidden;
}


.campoDeDigitacao input {
    width: 60vw;
    height: 8vh;
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    overflow-y: scroll;
    overflow-x: initial;
    overflow-wrap: break-word;
    word-break: break-word;
    border: 1px solid #4095D1;
}

.campoDeDigitacao input:focus{
    outline: none;
}



.campoDeDigitacao button {
    width: 8vw;
    height: 8vh;
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    background-color: #4095D1;
}

.campoDeDigitacao button:hover {
    background-color: #E89E09;
    transition: 0.5s;
}

