.allScrenMessage {
    height: 90vh;
    display: flex;
    flex-direction:row;
}

.campoLateral {
    border: 1px solid black;
    width: 25vw;
    background-color: grey;
}

.conversaUnica {
    border: 1px solid black;
    cursor: pointer;
}

.conversaUnica :hover{

    background-color: blanchedalmond;

}

.telaDeConversas {
    width: 75vw;
    display: flex;
    flex-direction: column;
}

.telaComMensagens {
    background-color: whitesmoke;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: initial;
}

.cadaMensagem{
    word-wrap: break-word;
}

.campoDeDigitacao input {
    width: 60vw;
    height: 8vh;
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    overflow-y: scroll;
    overflow-x: initial;
    overflow-wrap: break-word;
    word-break: break-word;
    border: 1px solid #4095D1;
}

.campoDeDigitacao input:focus{
    outline: none;
}



.campoDeDigitacao button {
    width: 8vw;
    height: 8vh;
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    background-color: #4095D1;
}

.campoDeDigitacao button:hover {
    background-color: #E89E09;
    transition: 0.5s;
}

